body {
  background-color: #222831;
}

.heading {
  color: #EEEEEE;
  font-family: 'Nosifer', cursive;
  padding-top: 20px;
  font-size: 5rem;
  text-align: center;
}

.part {
  padding-top: 80px;
  opacity: 0.5;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width:35rem;
  text-align: center;
}

.key{
  opacity:0.5;
}

.key-icons{
  margin: 6% 10% 0 20%;
}
.opaque{
  opacity:1;
}

.legend{
  padding-left: 15px;
  font-family: 'Luckiest Guy', cursive;
  font-size: 2rem;
}

.row{
  margin-right:0;
  color: #EEEEEE;
  padding: 10px 10px;
}

.entire{
  margin-left: 17%;
}

a:hover{
  text-decoration: none;
}
